* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RobotoMono', sans-serif;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

:root {
    --bg-color: #2a2a2a;
    --second-bg-color: #202020;
    --text-color: #FFF;
    --second-color: #CCC;
    --main-color: #FF4D05;
    --big-font: 5rem;
    --h2-font: 3rem;
    --p-font: 1.1rem;
}